.AboutTitle a {
  margin-top: 1rem;
}

.About__divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  padding-top: 1rem;
}

.AboutTitle h1 {
  color: #1f74c3;
}

.AboutTitle .lead {
  color: #5f6871;
}
