.IOS {
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .IOS {
    border-radius: 2.5rem;
  }
}

.IOS .Gesture__parent {
  height: 100%;
  background-image: url(./home.jpg);
  background-size: cover;
}

.IOS .Gesture__apps {
  flex: 1;
  position: relative;
}

.IOS .Gesture-view__pane {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
}

.IOS .Gesture__apps .Pane {
  padding: 0.25rem 0.75rem 0.75rem 0.75rem;
  padding-top: 50px;
  display: grid;
}

.IOS__status-container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 150;
  padding: 1.35rem 1.75rem;
}

.IOS__app-icons-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.IOS__app-icons-slide {
  flex: 1;
  display: flex;
}

.IOS__app-icons-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
