body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Index {
  display: block;

  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.Index .AboutTitle {
  flex: 1 1 50%;
  padding-right: 2rem;
  line-height: 1.5;
  color: #374047;
  text-align: center;
  padding: 4rem 1rem 1rem 1rem;
}

.Index .About {
  text-align: center;
}

.Index .AboutTitle > * {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.Index__ios {
  display: flex;
  justify-content: center;
  flex: 1 1 50%;
}

.Index .About {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Index .AboutTitle .lead {
  /* max-width: 37rem; */
}

.Index.fullscreen .AboutTitle,
.Index.fullscreen .About,
.Index.fullscreen > button {
  display: none;
}

.Index.fullscreen .Index__ios {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Index__Button-fullscreen {
  margin: 0 auto;
}
