.PanelBox:first-child,
.PanelBox:nth-child(2) {
  width: 146px;
  height: 146px;
}

.PanelBox {
  margin: 8px;
  width: 65px;
  height: 65px;
  transform-origin: 50%;
  background: #4b4e4e;
  border-radius: 1rem;
}

.PanelContents__boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.2rem;
}

.PanelContents > div:first-child {
  padding: 3rem 2rem 1rem 2rem;
}
