.PanelBox:first-child,
.PanelBox:nth-child(2) {
  width: calc(50% - 16px);
  height: 146px;
}

.PanelBox {
  margin: 8px;
  width: calc(25% - 16px);
  padding-bottom: 20%;
  transform-origin: 50%;
  background: #515b92;
  border-radius: 1rem;
}

.PanelContents__boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.2rem;
}

.PanelContents > div:first-child {
  padding: 3rem 2rem 1rem 2rem;
}
