.SearchPanel {
  position: relative;
  width: 100%;
  height: 100%;
}

.SearchPanel__container {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  padding-top: 3rem;
}

.SearchPanel__body-content {
  background-color: #827877bd;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
}

.SearchInput {
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  position: relative;
}

.SearchInput input {
  border: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  height: 38px;
  font-size: 16px;
  transition: background 0.25s ease;
  color: white;
  padding: 0 1rem;
  padding-left: 2rem;
  -webkit-appearance: none;
}

.SearchInput svg {
  position: absolute;
  left: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
}

.SearchInput input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}

.SearchInput input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.UppercaseLabel {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  font-size: small;
  padding: 0.35rem 1rem;
}

.BoxPane {
  min-height: 100px;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
}

.BoxPane__suggestions {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.BoxPane__shortcuts {
  display: block;
}

.BoxPane__shortcuts > div {
  padding-bottom: 0.5rem;
  display: flex;
  position: relative;
  align-items: center;
}

.BoxPane__shortcuts > div:after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin: 0 1rem;
  content: "";
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  padding-bottom: 0.5rem;
  bottom: 0;
}

.BoxPane__shortcuts > div > div:first-child {
  display: flex;
  padding-top: 1rem;
  margin-bottom: -1rem;
  width: 90px;
  justify-content: flex-start;
}
.BoxPane__shortcuts > div > div:last-child {
  margin-top: 0.5rem;
}
.BoxPane__shortcuts > div > div:last-child > div:first-child {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.BoxPane__shortcuts > div > div:last-child > div:last-child {
  font-size: small;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0.25rem;
}
